<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalConnectionString" value="user id=dbwl;data source=lnwl;password=dbwl;Max Pool Size = 512;Persist Security Info=True;enlist=false;"/>
    <add key="XmlPath" value="C:\code\样本室\ybs-pc\tms.WebService"/>
    <add key="DataWindowPath" value="D:\tms\tms.WebService\DataWindow\"/>
    <add key="DataFilesName" value="jgwl_main.pbl;system.pbl;scheduling.pbl;goosarrival.pbl;stockroom.pbl;sampleroom.pbl;goodsback.pbl;dailyreport.pbl;correction.pbl;shipped.pbl;balance.pbl;jcwl.pbl;3f_report.pbl"/>
    <add key="Trans_ServerName" value="xhsddb_3f"/>
    <add key="Trans_UserId" value="dbwl"/>
    <add key="Trans_Password" value="dbwl"/>
    <add key="Trans_AutoCommit" value="false"/>
    <add key="Trans_DbParameter" value="PBCatalogOwner='dbwl',TableCriteria=',dbwl'"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="20480"/>
    <!-- 20M
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>